#homepage {
  height: calc(100% - $navbar-height);
  background: linear-gradient(-180deg,rgb(243, 154, 107), rgb(72, 31, 5))

}

.homepage-section {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#homepage-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 75%;
}

#homepage-greeting {
  @include flexit();
  flex-direction: column;
  position: absolute;
  top: max(160px, 20vh);
  left: min(34px, 5vw);
  color: white;
  width: max(300px, 30vw);
}

#homepage-header {
  font-size: calc(1.5rem + 0.7vw);
  text-align: center;
  letter-spacing: 0.07rem;
}

#homepage-sign-up-button {
  cursor: pointer;
  color: white;
  background-color: rgb(22, 181, 107);
  border: none;
  width: 60%;
  padding: 10px;
  margin-top: 12px;
  font-size: calc(1.1rem + 0.4vw);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.06rem;
  border-radius: 4px;
  box-shadow: -3px 5px 9px rgb(70, 66, 66);
  &:hover {
    background-color: rgb(24, 170, 102);
  }
  &:active {
    opacity: 0.9;
  }
}

@media (max-width: 1368px) {
  #homepage-cover {
    object-position: right;
    object-fit: cover;
  }

  .homepage-section.greeting {
    height: 70vw;
  }

  #homepage-greeting {
    top: min(25px, 2vw);
    left: auto;
    width: 100%;
    flex-direction: row;
    > #homepage-sign-up-button {
      flex-basis: 20%;
      margin-top: 0;
    }
    > #homepage-header {
      display: flex;
      justify-content: center;
      margin-right: min(40px, 5vw);
      margin-left: min(100px, 5vw);
    }
  }
}

@media (max-width: 700px) {
  #homepage-header {
    font-size: calc(1rem + 0.7vw);
  }

  #homepage-sign-up-button {
    font-size: calc(0.6rem + 0.4vw);
  }
}

@media (max-width: 440px) {
  #homepage-header {
    font-size: calc(0.7rem + 0.5vw);
  }

  #homepage-sign-up-button {
    font-size: calc(0.4rem + 0.4vw);
  }
}

