.profile-navbar {
  @extend .navbar;
  > .fa-folder-plus {
    margin-left: auto;
  }
}

.profile-content {
  height: calc(100% - $navbar-height);
  display: flex;
  flex-direction: row;
}

.profile-container, .profile-page, #app {
  height: 100%;
}

.sidebar-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: max(450px, calc(100% - $navbar-height));
  width: calc((max(2vw, 16px) * 2) + 75px);
  background: linear-gradient(-180deg, #3f3c3c, rgb(94, 94, 94));
  z-index: 101;
  overflow: hidden;
}

.sidebar-item {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100px;
  max-width: 100%;
  text-align: center;
  &.bottom {
    margin-top: auto;
  }
  &:hover {
    background-color: rgb(36, 155, 74);
  };
  &.blue:hover {
    background-color: rgb(40, 116, 187);
  }
  &.red:hover {
    background-color: rgb(141, 36, 24);
  }
  &:active {
    opacity: 0.8;
  }
  &.disabled {
    opacity: 0.6;
  }
  &.disabled:hover {
    background-color: transparent;
  }
}

.sidebar-description {
  font-size: 0.8rem;
  color: white;
}

.user-info {
  @include flexit();
  flex-direction: column;
  height: auto;
  width: 100%;
}

#user-dropdown {
  cursor: pointer;
  @include flexit();
  color: white;
  margin-right: 15px;
  height: 100%;
  margin-left: auto;
}

#dropdown-icon {
  @include flexit();
  width: 30%;
}

.dropdown-description {
  @include flexit();
  color: white;
  width: 70%;
}

#user-dropdown-container {
  animation-name: popup;
  animation-duration: 0.1s;
  min-width: 150px;
  position: absolute;
  background-color: #3f3c3c;
  box-shadow: rgb(71, 71, 71) 1px 2px 15px;
  > * {
    text-decoration: none;
  }
}

.user-dropdown-item {
  @include flexit();
  padding: 10px;
  transition: background-color 0.2s;
  &:hover {
    background-color: black;
  }
}

.image-container {
  @include flexit();
  height: 100%;
}

.sidebar-image-container {
  @include flexit();
  flex-direction: column;
  margin: 10px 0 15 px 0;
  height: auto;
}

.user-image {
  height: max(4.5vh, 30px);
  width: auto;
  border-radius: 50%;
}

.sidebar-user-image {
  height: auto;
  max-width: 90%;
  border-radius: 50%;
  margin-top: 10px;
}

.sidebar-username {
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 80%;
  border-bottom: solid white 2px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-cover {
  position: absolute;
  height: calc(100% - 36px);
  width: calc(100% - 44px);
  border-radius: 20%;
  background-color: rgb(37, 33, 33);
}

.username {
  font-family: Taviraj, Cambria;
  text-align: center;
  line-height: 3em;
  font-size: 120%;
  height: 3em;
  width: 100%;
  background-color: rgb(255, 231, 17);
  border: solid black;
  border-width: 2px 0 2px 0;
}

.card-container {
  position: relative;
  display: grid;
  background: linear-gradient(-180deg, #fffffe, rgb(232, 232, 221));
  grid-template-columns: repeat(auto-fill, 180px);
  grid-template-rows: repeat(auto-fill, 140px);
  row-gap: 30px;
  padding: 25px 25px 25px 0px;
  align-content: flex-start;
  justify-content: space-evenly;
  justify-items: center;
  height: auto;
  min-height: max(450px, calc(100% - $navbar-height));
  width: 100%;
  margin-left: calc((max(2vw, 16px) * 2) + 75px);
  overflow-y: auto;
  overflow-x: auto;
  user-select: none;
}

.category-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: calc(100% - 120px);
  width: 100%;
  margin-left: calc((max(2vw, 16px) * 2) + 75px);
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  padding-bottom: 30px;
}

.context-menu {
  @include flexit();
  animation-name: popup;
  animation-duration: 0.1s;
  flex-direction: column;
  position: absolute;
  box-shadow: #3a3a3a 0px 2px 10px;
  border-radius: 10px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 1001;
  height: auto;
  width: 200px;
}

menu {
  @include flexit();
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-width: 2px 2px 0px 2px;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &:hover:not(.disabled-context) {
    color: white;
    background-color: #3c87e9;
  }

  &.delete:hover {
    background-color: rgb(168, 28, 28);
  }

  &[title]::before {
    content: attr(title);
  }
}

.disabled-context {
  cursor: auto;
  font-style: italic;
  background-color: rgb(63, 63, 63);
  color: rgb(214, 214, 214);
  &:hover {
    background-color: rgb(63, 63, 63);
  }
}

.page-not-found {
  @include flexit();
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  & h1 {
    margin-bottom: 7%;
  }
}

.what-not-found {
  color: rgb(216, 68, 0);
}

.request-box {
  display: flex;
  position: fixed;
  bottom: 10vh;
  right: 20px;
  min-height: 50px;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: solid black;
  border-radius: 7px;
  font-size: 1.3rem;
  z-index: 2000;

  &.request-error {
    animation-name: shake;
    animation-duration: 0.2s;
    width: max(24vw, 250px);
    > .request-text {
      padding: 8px;
    }
  }

  &.request-message {
    width: max(20vw, 200px);  
  }

  &.empty {
    width: max(10vw, 120px); 
    >.request-text {
      >.submitting {
        margin: auto;
      }
    }
  }
}

.request-text {
  display: flex;
  width: 93%;
  > .submitting {
    transform: scale(0.5);
  }
  > h5:first-child {
    margin-left: auto;
    margin-right: auto;
  }
}

.request-link {
  margin-top: 5px;
}

.request-exit-button {
  @include flexit();
  margin-left: auto;
  width: min(35px, 10vw);
  font-weight: bold;
  color: white;
  background-color: black;
  border-left: solid black;
  cursor: pointer;
  &:hover {
    background-color: rgb(236, 76, 18);
    border-color: red;
  }
}

#app-logo {
  @include flexit();
  cursor: pointer;
  height: 100%;
  background-color: #3F4E4F;
  width: 75px;
  user-select: none;
  font-family: 'Coda', cursive;
  color: white;
  text-decoration: underline rgb(225, 214, 9);
  text-underline-offset: 2px;
  padding: 0 max(2vw, 16px) 0 max(2vw, 16px);
  &:hover {
    background-color: #4a5b5d;
  }
}

#app-logo-text {
  font-size: 1.26rem;
  letter-spacing: 0.05rem;
}